<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">
    <select id="select1" resultType="dto.MemberDto">     <!-- resultType 본인 환경에 맞게 수정 필요 -->
        select * from member
    </select>

    <select id="postList" parameterType="dto.MemberDto" resultType="dto.MemberDto">
        select * from member where email like concat('%',#{dto.MemberDto.email},'%')
    </select>
</mapper>